.header {
  background-color: #050520;
  padding: 15px 100px;
  // max-width: 1455px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  * {
    z-index: 10;
  }

  .dropdown {
    position: relative;
    display: none;

    // &:active {
    //   .sidenav {
    //     width: 250px !important;
    //     border: 1px solid #818181;
    //   }
    // }

    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;

      i {
        font-size: 24px;
        margin-top: 10px;
      }

      &:hover {
        .dropdown-content {
          display: block;
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  @include for-small-desktop {
    padding: 36px;
    flex-wrap: wrap;
  }

  @include for-laptop {
    flex-direction: column;
  }

  @include for-tablet {
    padding: 20px;
    gap: 20px;
  }

  &__navigation {
    flex-grow: 2;
    margin-right: 30px;
  }

  &__social {
    margin-right: 56px;

    @include for-small-desktop {
      margin-right: 30px;
    }

    @include for-laptop {
      margin-right: 0;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__wallet {
    position: relative;
    display: flex;
    justify-content: center;
    letter-spacing: 0.01em;
    color: $purpure-color;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  &__wallet:hover {
    .header__wallet-logout {
      top: 25px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }

  &__wallet-name {
    position: relative;
    cursor: pointer;
  }

  &__wallet-logout {
    position: absolute;
    cursor: pointer;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    color: black;
    font-weight: bold;
    background-color: $white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
    width: 50%;
  }
}
