.hero {
  // background-image: url("../../../assets/images/updated-design/home-page/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include for-tablet {
    padding: 50px 0 100px;
  }

  &__container {
    position: relative;
    color: $common-color;
  }

  &__information {
    margin-top: 250px !important;
    width: 992px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 10;
    // padding-bottom: 46px;

    @include for-laptop {
      padding: 0 30px 46px;
      width: 100%;
    }

    @include for-phone {
      padding: 0 20px 70px;
    }
  }

  &__title {
    line-height: 115%;
    margin-bottom: 24px;
    color: white;

    //styleName: H1;
    font-family: "Uni Sans", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
    font-weight: 200;
    color: white;
    margin-bottom: 80px;
    font-family: "Circe", sans-serif;
    letter-spacing: 0.02em !important;

    @include for-phone {
      max-width: unset;
    }

    // &_red {
    //   color: #cb015b;
    // }
  }

  // .hero__calendar-btn.addeventatc {

  // }

  &__img {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
    z-index: 5;
    bottom: -20px;

    @include for-laptop {
      svg {
        width: 300px;
        height: auto;
      }
    }

    @include for-tablet {
      svg {
        width: 200px;
      }
    }

    @include for-phone {
      svg {
        width: 150px;
      }
    }
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &-ellipse {
      position: absolute;
      left: 50%;
      transform: translateX(-40%);
      pointer-events: unset;
    }

    &-cloud1 {
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-200px);
    }

    &-cloud2 {
      position: absolute;
      left: 50%;
      bottom: 78px;
      transform: translateX(-30px);
    }

    &-cloud3 {
      position: absolute;
      left: 50%;
      bottom: 78px;
      transform: translateX(380px);
    }
  }

  &_description {
    margin: 0 auto;
    margin-top: 101px;
    font-family: "Circe", sans-serif;
    letter-spacing: 0.02em !important;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-bottom: 62px;
    max-width: 773px;
  }

  .hero-bg-1 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 158px;
  }

  .hero-bg-2 {
    position: absolute;
    left: 0;
    top: 460px;
    // margin-top: -460px;
  }

  .star-1 {
    position: absolute;
    left: 119px;
    top: 224px;
  }
  .star-2 {
    position: absolute;
    left: 238px;
    top: 321px;
  }
  .star-3 {
    position: absolute;
    right: 451px;
    top: 907px;
  }
  .star-4 {
    position: absolute;
    right: 119px;
    top: 880px;
  }
}

@media screen and (max-width: 1064px) {
  .hero-bg-1 {
    margin-top: 0px !important;
  }

  .hero-bg-2 {
    top: 530px !important;
  }
}

@media screen and (max-width: 701px) {
  .hero-bg-2 {
    position: relative !important;
    margin-top: -1000px !important;
  }
}

// @media screen and (max-width: 1441px) and (min-width: 760px) {
//   .story {
//     margin-top: 46px !important;
//   }
// }
