.navigation {
  &__list {
    display: flex;
    margin-left: 28px;
    gap: 40px;
    flex-wrap: wrap;

    @include for-phone {
      gap: 10px;
    }

    li {
      a {
        &:hover {
          color: white;
          padding-bottom: 10px;
          border-bottom: white solid 3px;
        }
      }
    }

    .active-link {
      color: white;
      padding-bottom: 10px;
      border-bottom: white solid 3px;
    }
  }

  &__link {
    color: #787888;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;

    &:hover {
      color: white;
      padding-bottom: 10px;
      border-bottom: white solid 3px;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #050520;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  border: none;
  z-index: 1000 !important;

  .side__navigation li {
    padding-top: 32px;
  }

  p {
    padding: 8px 0px 8px 0;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Inter", sans-serif;

    &:hover {
      color: #f1f1f1;
    }
  }

  li {
    padding: 8px 0px 8px 0;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Inter", sans-serif;

    &:hover {
      color: #f1f1f1;
    }
  }

  .closebtn {
    cursor: pointer;
    font-size: 16px;
    margin-right: 22.5px;
  }

  .connect-wallet {
    position: absolute;
    bottom: 24px;
    padding: 4px 12px 4px 12px;
  }

  .connect-wallet__text {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
