.roadmap {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 80px 0 40px;
  // width: 992px;
  margin: auto;
  position: relative;
  z-index: 1;

  @include for-laptop {
    width: 100%;
    // padding: 130px 30px 170px;
  }

  @include for-tablet {
    padding: 50px 30px 100px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-phone {
    padding: 50px 20px 100px;
  }
  &__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: 100%;
    // padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .road-map-img {
      // background-image: url("../../../assets/images/updated-design/home-page/road-map-bg.svg");

      p {
        //styleName: Body/Bold;
        font-family: "Circe", sans-serif;
        letter-spacing: 0.02em !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #787888;
      }

      .road-map-right-bg {
        position: absolute;
        right: 0;
        margin-top: -900px;
      }

      .bg {
        position: absolute;
        margin-top: -390px;
        z-index: 10;
      }

      .road-map-main {
        z-index: 10;
        position: absolute;

        h1 {
          display: none;
          margin-top: -1200px;
          font-family: Uni Sans;
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 36px;
          /* identical to box height, or 112% */

          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          padding-bottom: 100px;

          /* White */

          color: #ffffff;
        }
      }

      .lines {
        display: none !important;
        margin-left: 200px;
      }

      .vertical-img {
        display: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 500px;
        width: 300px;
        margin: 0 auto;

        .v-planet-title {
          .big-title {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            padding-bottom: 10px;
          }

          .small-title {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: white;
          }
        }

        .v-planet-1 {
          display: flex;
          align-items: center;
          margin-right: -60px;
          float: right;
          margin-top: -103px;

          svg {
            width: 160px;
          }
        }

        .v-planet-2 {
          display: flex;
          align-items: center;
          float: left;
          margin-top: -44px;

          .v-planet-title {
            padding-left: 15px;
          }

          svg {
            width: 80px;
          }
        }

        .v-planet-3 {
          display: flex;
          align-items: center;
          float: right;
          margin-right: -30px;
          margin-top: -23px;

          .v-planet-title {
            padding-right: 20px;
          }

          svg {
            width: 100px;
          }
        }

        .v-planet-4 {
          display: flex;
          align-items: center;
          float: left;
          margin-top: -30px;
          margin-left: -28px;

          .v-planet-title {
            padding-left: 15px;
          }

          svg {
            width: 100px;
          }
        }

        .v-rocket {
          float: left;
          margin-top: 54px;
          margin-left: -184px;

          svg {
            width: 100px;
          }
        }

        .v-planet-5 {
          display: flex;
          align-items: center;
          float: right;
          margin-right: -15px;
          margin-top: -20px;

          .v-planet-title {
            padding-right: 20px;
          }

          svg {
            width: 100px;
          }
        }
      }

      .planet-1 {
        position: absolute;
        left: 0;
        margin-top: -372px;
        left: 72px;
      }

      .rocket {
        width: 164px;
        height: 164px;
        width: 164px;
        height: 164px;
        position: absolute;
        margin-top: -200px;
        left: 165px;
      }

      .planet-2 {
        width: 121px;
        height: 122px;
        left: 292px;
        position: absolute;
        margin-top: -86px;
      }

      .planet-3 {
        width: 148px;
        height: 134px;
        position: absolute;
        margin-top: -329px;
        left: 460px;
      }

      .planet-4 {
        position: absolute;
        width: 148px;
        height: 134px;
        left: 590px;
        margin-top: -111px;
      }

      .planet-5 {
        position: absolute;
        width: 110px;
        height: 109px;
        left: 788px;
        margin-top: -321px;
      }

      .satellite {
        position: absolute;
        left: 650px;
        margin-top: -370px;
        width: 162px;
        height: 97px;
      }

      .solar {
        width: 514.23px;
        height: 269px;
        position: absolute;
        left: 330px;
        margin-top: -265px;
      }
    }
  }

  &__left {
    width: 508px;
    height: 508px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__right {
    margin-top: 70px;
    color: white;
    margin-right: 13%;
    z-index: 100;

    .roadmap__info__title {
      position: static;
      width: 200px;
      height: 24px;
      left: calc(50% - 200px / 2);
      top: 0px;

      /* Lead */

      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      /* Grey */

      color: #787888;

      /* Inside Auto Layout */

      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 16px 0px;
    }

    .roadmap__info__content {
      position: static;
      width: 270px;
      left: calc(50% - 200px / 2);
      top: 40px;

      /* Lead */

      font-family: "Circe", sans-serif;
      letter-spacing: 0.02em !important;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      /* White */

      color: #ffffff;

      /* Inside Auto Layout */

      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 16px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      text-align: left;
      letter-spacing: 0.02em;
    }

    .roadmap__info__line {
      position: static;
      width: 200px;
      height: 2px;
      left: calc(50% - 200px / 2);
      top: 80px;

      /* White */

      background: #ffffff;
      opacity: 0.1;

      /* Inside Auto Layout */

      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;
      margin: 16px 0px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: white;
    width: 600px;
    text-align: center;
    margin-top: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    text-align: center;
    max-width: 300px;
    margin: 30px 0 30px 0;
  }
  &__subtext {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    text-align: center;
    // max-width: 300px;
    margin: 30px 0 30px 0;
  }
}

@media screen and (max-width: 1365px) and (min-width: 1241px) {
  .roadmap__right {
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 1240px) and (min-width: 1171px) {
  .roadmap__right {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1170px) {
  .roadmap {
    margin-top: 200px;

    .roadmap__right {
      display: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .roadmap {
    padding: 0 !important;

    .bg {
      position: relative !important;

      svg {
        margin-left: -100px;
      }
    }

    .lines {
      display: none;
      // position: relative;
    }

    .vertical-img {
      display: block !important;
    }

    .road-map-main {
      margin-top: 0 !important;
      position: relative !important;

      h1 {
        display: block !important;
      }
    }

    .satellite {
      left: auto !important;
      right: 25px !important;
    }

    .solar {
      width: 100% !important;
      margin-top: -628px !important;
      left: 0 !important;
    }

    .planet-1,
    .planet-2,
    .planet-3,
    .planet-4,
    .planet-5,
    .rocket {
      display: none;
    }

    .satellite {
      margin-top: -600px !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .road-map-right-bg {
    right: 0px !important;
    margin-top: -1942px !important;
  }
}

@media screen and (max-width: 700px) {
  .road-map-right-bg {
    right: -180px !important;
    margin-top: -1942px !important;
  }
}

@media screen and (max-width: 400px) {
  .road-map-right-bg {
    right: -261px !important;
    margin-top: -1942px !important;
  }
}
