.story {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 80px 0 40px;
  // width: 992px;
  margin: auto;
  margin-top: 185px;
  position: relative;
  z-index: 1;

  .story__title {
    //styleName: H3;
    // font-family: Montserrat;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  @include for-laptop {
    width: 100%;
    // padding: 130px 30px 170px;
  }

  @include for-tablet {
    padding: 50px 30px 100px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-phone {
    padding: 50px 20px 100px;
  }

  &__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .trailer-bg {
      position: absolute;
      right: 0;
      margin-top: 1041px;
    }

    .trailer-bg-mobile {
      display: none;
    }

    .star-1 {
      position: absolute;
      z-index: 10;
      left: 400px;
      margin-top: 450px;

      svg {
        width: 38px;
      }
    }

    .star-2 {
      position: absolute;
      z-index: 10;
      left: 100px;
      margin-top: 350px;

      svg {
        width: 25px;
      }
    }

    .star-3 {
      position: absolute;
      z-index: 10;
      right: 70px;
      margin-top: 600px;

      svg {
        width: 50px;
      }
    }

    .i-star-1 {
      position: absolute;
      z-index: 10;
      left: 100px;
      margin-top: 800px;

      svg {
        width: 20px;
      }
    }

    .i-star-2 {
      position: absolute;
      z-index: 10;
      left: 150px;
      margin-top: 1000px;

      svg {
        width: 57px;
      }
    }

    .i-star-3 {
      position: absolute;
      z-index: 10;
      right: 140px;
      margin-top: 390px;

      svg {
        width: 23px;
      }
    }

    .i-star-4 {
      position: absolute;
      z-index: 10;
      left: 340px;
      margin-top: 1400px;

      svg {
        width: 23px;
      }
    }
  }

  &__description {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

    h1 {
      margin-bottom: 32px;
    }
  }

  &__trailer {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    z-index: 10;

    .react-player {
      width: 100%;
      height: 100%;
    }

    button {
      position: absolute;
      left: 50%;
      margin-top: 110px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      // content: "\f01d";
      font-family: FontAwesome !important;
      font-size: 100px;
      color: #fff;
      opacity: 0.8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }

    .video-thumbnail {
      position: relative;
      display: inline-block;
      cursor: pointer;
      height: 349px;

      &:before {
      }

      &:hover:before {
        color: #eee;
        font-family: FontAwesome !important;
      }
    }
  }
  &__title {
    font-size: 24px;
    font-weight: normal;
    line-height: 115%;
    color: white;
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
  }

  .story__desc__item {
    .story__text {
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 46px !important;
      line-height: 150%;
      color: white;
      font-family: "Uni Sans", sans-serif;
      text-align: center;
      max-width: 300px;
      padding-left: 10px;
      letter-spacing: 0;
    }
    .story__text1 {
      width: 300px;
      height: 48px;
      left: calc(50% - 300px / 2 - 340px);
      top: 852px;

      /* Lead */

      font-family: "Circe", sans-serif;
      letter-spacing: 0.02em !important;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      text-align: center;
      font-weight: normal;

      /* Grey */

      color: white;
    }
  }

  &__open {
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    color: #4eae12;
    text-align: center;
    max-width: 300px;
    letter-spacing: 0;
  }
  &__gear {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    margin: 0 auto;
  }

  &__picture {
    position: relative;
    pointer-events: none;
    margin-bottom: 30px;

    @include for-phone {
      height: fit-content;
    }
  }

  &__img {
    position: relative;
    z-index: 10;

    @include for-phone {
      width: 100%;
    }
  }

  &__background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include for-phone {
      svg {
        width: 100%;
      }
    }
  }

  &__background-ellipse {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include for-phone {
      width: 100%;

      svg {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .story__trailer {
    button {
      font-family: FontAwesome !important;
      span {
        font-size: 50px;
      }

      .fa-play {
        font-family: "FontAwesome" !important;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .story {
    padding: 0;

    .star-1,
    .star-2,
    .star-3,
    .i-star-1,
    .i-star-2,
    .i-star-3,
    .i-star-4 {
      display: none;
    }

    .story__trailer {
      width: 100% !important;
      margin-top: 0 !important;

      .react-player {
        width: 100% !important;
      }
    }

    .trailer-bg {
      margin-top: -470px !important;
      position: relative;
      margin-right: -40px;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 850px) {
  .trailer-bg {
    margin-right: -154px !important;
  }
}

@media screen and (max-width: 500px) {
  .trailer-bg {
    margin-right: 40% !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1064px) {
  .story {
    margin-top: 145px !important;
  }
}

@media screen and (max-width: 1063px) and (min-width: 769px) {
  .story {
    margin-top: 210px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 702px) {
  .story {
    margin-top: 95px;
  }
}

@media screen and (max-width: 701px) {
  .story {
    margin-top: 380px;
  }
}
