@media screen and (max-width: 1440px) {
  .info {
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media screen and (max-width: 1210px) {
  .info {
    padding-right: 36px;
    padding-left: 52px;
  }
}

@media screen and (max-width: 370px) {
  .desc-body {
    display: inline-block !important;
  }

  .desc-title {
    .flex {
      display: inline-block;

      button {
        margin-bottom: 10px;
      }
    }
  }

  .info {
    .content {
      padding: 4px;
    }
  }
}

.market {
  h1 {
    //styleName: H1;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  p {
    //styleName: H3;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  .market-landing {
    width: 1080px;
    height: 400px;
    margin: 120px 100px;

    /* White 20 */

    background: rgba(255, 255, 255, 0.2);
  }
}
